body{
    
    background-color: grey;
    background-size: auto 100vh;
    height: 100vh;
    font-family: Arial;
    
  }

  .menu{
    background-color: white;
    
  }
  a {
    color: teal;
    text-decoration: none;
    
  }
  a:hover{
    text-decoration: underline;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  .menu li{
    list-style: none;
  }
  .site-subtitle,
  .site-title{
    text-align: center;
    color: lightblue;
    
  }
  .site-subtitle{
    
    font-style: italic;
  }