body{
    
    background: grey;
    background-size: auto 100vh;
    height: 100vh;

    
    
  }

  .menu{
    background-color: white;
    
  }
  a {
    color: teal;
    text-decoration: none;
    
  }
  a:hover{
    text-decoration: underline;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  .menu li{
    list-style: none;
  }
  .site-subtitle,.site-title{
    text-align: center;
    color: lightgray;
    font-family: monospace;
    
  }
  .site-subtitle{
    
    font-style: italic;
  }
  p{
    text-align: center;
  }

 .logo{
    
    width:100px;
    height: 100px;
    background-color: black;
    border-radius: 12%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;


 }
 

 #header{
   background-color: black;
   height: 400px;
   
 }

 img#cara{
   display: block;
   border-radius: 50%;
   margin-left: auto;
   margin-right: auto;

 }
 .container{
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   background-color: black;

   
 }

